<div class="box left-box">
    <ion-icon class="placement-icons" name="pie-chart-outline"></ion-icon>
</div>

<div class="box right-box">
    <ion-icon class="placement-icons" name="stats-chart-outline"></ion-icon>
</div>