<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>GymTrack</title>
    <!-- ION ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="main-body">
        <div class="dashboard-left-panel">
            <div class="dashboard-title-container">
                <h1 class="dashboard-title"> G<span class="title-underline">ym Track</span></h1>
                <div class="slogan-container">
                    <h2 class="dashboard-title">Stay</h2>
                    <h2>Focused</h2>
                    <h2>Tracked</h2>
                    <h2>Fit</h2>
                </div>
            </div>

            <a href="/logout"><div class="sign-out-button"> Sign-Out </div></a>
        </div>

        <div id="main-dash" class="main-dash">

            <div class="banner">
                <nav class="nav-bar">
                    <ul>
                        <li ><a href="#" data-page="dashboard-main" class="active-button"> Dashboard </a></li>
                        <li><a href="#" data-page="workout"> Workout </a></li>
                        <li><a href="#" data-page="history"> History</a></li>
                        <li><a href="#" data-page="calories"> Calories</a></li>
                        <li><a href="#" data-page="measurements"> Measurements</a></li>
                    </ul>
                </nav>

                <div class="date-box">
                    <div class="date"> <h1> <%=date%> </h1> <h2> <%=month%> </h2> </div>
                    <div class="welcome-message"> <p> Good Morning, <span class="welcome-message-underline"> <%=name%> </span></p> </div>
                    <div class="extra-date-box"></div>
                </div>
            </div>

            <div id="content" class="dash-flex-container"> 
                <!-- FETCH CONTENT FROM EJS PARTIALS -->
            </div>

            <h3 class="copyright dashboard-copyright"> © Artemijs Thomas Matusevs. </h3>

        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const links = document.querySelectorAll('nav ul li a');
            const content = document.getElementById('content');
            const dash = document.getElementById('main-dash');

            links.forEach(link => {

                link.addEventListener('click', function(event) {
                    event.preventDefault();

                    //TOGGLE ACTIVE CLASS
                    links.forEach(l => l.classList.remove('active-button'));
                    this.classList.add('active-button');

                    //Get link data
                    const page = this.getAttribute('data-page');

                    //Change gradient of main-dash depending on the link
                    if (page === "dashboard-main"){
                        dash.style.background = 'linear-gradient(90deg, rgba(35,32,30,1) 50%, rgba(242,242,242,1) 50%)';
                        links.forEach(l => l.style.color = 'rgba(242,242,242,1)');
                    } else {
                        dash.style.background = 'rgba(242,242,242,1)';
                        links.forEach(l => l.style.color = 'rgba(35,32,30,1)');
                    }

                    
                    //DYNAMICALLY CHANGE PAGE CONTENT
                    fetch(`/${page}`)
                    .then(response => {
                        console.log(response);
                        return response.text();
                    })
                    .then(html => {
                        content.innerHTML = html;
                    })
                    .catch(err => console.error('Error loading page:', err));
                });
            });
        });

        //Load the default page
        fetch('/dashboard-main')
        .then(response => response.text())
        .then(html => {
            content.innerHTML = html;
        })
    </script>
    
</body>
</html>