<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>GymTrack</title>
    <!-- ION ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="main-body">
        <div class="dashboard-left-panel">
            <div class="dashboard-title-container">
                <h1 class="dashboard-title"> G<span class="title-underline">ym Track</span></h1>
                <div class="slogan-container">
                    <h2 class="dashboard-title">Stay</h2>
                    <h2>Focused</h2>
                    <h2>Tracked</h2>
                    <h2>Fit</h2>
                </div>
            </div>

            <a href="/logout"><div class="sign-out-button"> Sign-Out </div></a>
        </div>

        <div class="main-dash">

            <div class="banner">
                <div class="nav-bar">
                    <ul>
                        <li class="active-button"> Dashboard </li>
                        <li> Workout </li>
                        <li> History </li>
                        <li> Calories </li>
                        <li> Measurements </li>
                    </ul>
                </div>

                <div class="date-box">
                    <div class="date"> <h1> <%=date%> </h1> <h2> <%=month%> </h2> </div>
                    <div class="welcome-message"> <p> Good Morning, <span class="welcome-message-underline"> <%=name%> </span></p> </div>
                    <div class="extra-date-box"></div>
                </div>
            </div>

            <div class="dash-flex-container"> 
                <div class="box left-box">
                    <ion-icon class="placement-icons" name="pie-chart-outline"></ion-icon>
                </div>
                <div class="box right-box">
                    <ion-icon class="placement-icons" name="stats-chart-outline"></ion-icon>
                </div>
            </div>

            <h3 class="copyright dashboard-copyright"> © Artemijs Thomas Matusevs. </h3>

        </div>

    </div>
    
</body>
</html>