<link rel="stylesheet" href="/styles/sub-views.css">

<div class="partials-body">
    <h1 class="partials-title"> WORKOUT </h1>
    <div id="partials-content-workout">
        <div>
            <h2 class="partials-subtitle">Quick Start</h2>
            <div class="partials-button"><h1>START EMPTY WORKOUT +</h1></div>
        </div>
        <div>
            <h2 class="partials-subtitle">My Templates</h2>
            <div class="partials-button"><h1 id="new-template">CREATE NEW TEMPLATE +</h1></div>
        </div>
    </div>

    <!-- New Workout Template -->
     <div id="partials-new-template">
        <h2 class="partials-subtitle template-name">Workout Template <a class="partials-icon-button"><ion-icon name="pencil-outline"></ion-icon></a></h2>
        <div class="partials-box-buttons"> Save </div>
        <div id="template-cancel" class="partials-box-buttons"> Cancel </div>
     </div>
</div>




