<link rel="stylesheet" href="/styles/sub-views.css">

<div class="partials-body">
    <div id="partials-content-workout">
        <h1 class="partials-title"> WORKOUT </h1>
        <div>
            <h2 class="partials-subtitle">Quick Start</h2>
            <div class="partials-button"><h1>START EMPTY WORKOUT +</h1></div>
        </div>
        <div>
            <h2 class="partials-subtitle">My Templates</h2>
            <div class="partials-button"><h1 id="new-template">CREATE NEW TEMPLATE +</h1></div>
        </div>
    </div>

    <!-- New Workout Template -->
     <div id="partials-new-template">
        <div class="new-template-content">
            <div class="partials-template-name">
                <h2 class="partials-subtitle template-name">Workout Template</h2>
                <ion-icon class="partials-icon-button edit-name-button" name="pencil-outline"></ion-icon>
            </div>

            <div class="partials-template-name-form">
                <form>
                    <input class="template-name-field" type="text" name="template-name">
                    <ion-icon class="partials-icon-button confirm-name-button" name="checkmark-outline"></ion-icon>
                    <ion-icon class="partials-icon-button cancel-name-button" name="close-outline"></ion-icon>
                </form>
            </div>

            <div id="template-exercise-list">

            </div>

            <div class="template-save-cancel-buttons">
                <div class="partials-box-buttons" id="submit-new-template"> Save </div>
                <div id="template-cancel" class="partials-box-buttons"> Cancel </div>
            </div>
        </div>

        <!-- EXERCISES LIST -->
        <div class="exercise-list">
            <h2 class="partials-subtitle">Exercise List</h2>
            <ul>
                <% 
                let currentLetter = '';
                for(let i = 0; i < exerciseList.length; i++){
                    let firstLetter = exerciseList[i].name.charAt(0).toUpperCase();

                    if (firstLetter !== currentLetter){
                        currentLetter = firstLetter;
                %>
                        <li class="partials-subtitle alphabet-title"><%=currentLetter%></li>
                <%
                    }
                %>
                    <li exercise-id="<%=exerciseList[i].id%>" class="exercise"><%=exerciseList[i].name%></li>
                <%
                }
                %>
            </ul>
        </div>
     </div>
</div>






