<link rel="stylesheet" href="/styles/sub-views.css">

<div class="partials-body">
    <h1 class="partials-title"> WORKOUT </h1>
    <div>
        <h2 class="partials-subtitle">Quick Start</h2>
        <div class="partials-button"><h1>START EMPTY WORKOUT +</h1></div>
    </div>
    <div>
        <h2 class="partials-subtitle">My Templates</h2>
        <div class="partials-button"><h1>CREATE NEW TEMPLATE +</h1></div>
    </div>
</div>


