*{
    padding: 0;
    margin: 0;
}

/* Main body for the sign-in page */
.main-body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left{
    background-image: url("../images/GymPic2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    flex: 1;
}

.transparent-panel{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: #efc918;
    font-size: 60px;
    margin-bottom: 65vh;
}

.right{
    background-color: #2a2a30;
    width: 100%;
    height: 100%;
    flex: 2;
    box-shadow: -10px 0 20px #2a2a30;
}