/* Google FONTS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

/* Main body for the sign-in page */
.main-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: lightgrey;
}

.left{
    background-image: url("../images/GymPic9.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    background-color: #211f20;
    width: 100%;
    height: 100%;
    flex: 1;
}

.transparent-panel{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: #efc918;
    font-size: 80px;
    margin-bottom: 65vh;
    text-shadow: -1px 0 5px #2a2a30, 0 1px 5px #2a2a30, 1px 0 5px #2a2a30, 0 -1px 5px #2a2a30;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title-underline{
    text-decoration: underline #efc918;
    text-underline-offset: 15px;
}

/* Log in/register styling section */
.right{
    background-color: #23201E;
    width: 100%;
    height: 100%;
    flex: 2;
    box-shadow: -10px 0 20px #23201E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.form-container form h2{
    color: #efc918;
    font-size: 50px;
    margin-bottom: 50px;
    text-shadow: -1px 0 5px #2a2a30, 0 1px 5px #2a2a30, 1px 0 5px #2a2a30, 0 -1px 5px #2a2a30;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.password-reset{
    text-align: right;
    color: grey;
    width: 100%;
    text-decoration: none;
    margin-top: -25px;
    margin-bottom: 25px;
}

.socials-logo{
    text-decoration: none;
    color: grey;
}

input{
    width: 300px;
    height: 25px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 0 5px #f2f2f2;
    padding: 10px;
    background-color: transparent;
    color: #f2f2f2;
}

.submitButton{
    border-radius: 5%;
    color: grey;
    width: 150px;
    height: 45px;
}

.submitButton:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f2f2f2;
    color: #2a2a30;
}

/* Socials */
.socials ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 50px;
    color: grey;
}

.socials ul li:hover{
    cursor: pointer;
}

.socials-writing{
    color: grey;
    margin-top: 25px;
}

/* Login/Register buttons */

.register-button{
    position: absolute;
    bottom: 10px;
    color: #efc918;
}

.register-button:hover{
    cursor: pointer;
}

/* Hide the register form container to start */
#register-form{
    display: none;
}

.copyright{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #efc918;
}




/* DASHBOARD STYLING */

/* NAV */
.dashboard-left-panel{
    flex: 1;
    background-color: #23201E;
    color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 60px 25px;
    gap: 50px;
}

.nav-bar{
    align-self: start;
    margin-top: 4vh;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
}

.nav-bar ul li{
    list-style: none;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-bar ul li a{
    color:#F2F2F2;
}

.nav-bar ul li a:hover{
    cursor: pointer;
    color: #F0D24B !important;
}

.sign-out-button{
    background-color: #F9D84A;
    color: #23201E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 12vw;
    font-weight: bold;
    font-size: 22px;
}

.sign-out-button:hover{
    background-color: #F2F2F2;
    color: #23201E;
    cursor: pointer;
}

.active-button{
    color: #F0D24B !important;
}

.dashboard-title-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: 70vh;
}

.slogan-container{
    text-align: right;
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 23px;
    border-right: solid;
    border-color: #F0D24B;
    text-shadow: -1px 0 5px #2a2a30, 0 1px 5px #2a2a30, 1px 0 5px #2a2a30, 0 -1px 5px #2a2a30;
    font-style: italic;
    padding: 0 5px;
}

h2{
    font-weight: 500;
}

.dashboard-title{
    font-size: 45px;
    text-shadow: -1px 0 5px #2a2a30, 0 1px 5px #2a2a30, 1px 0 5px #2a2a30, 0 -1px 5px #2a2a30;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    display: flex;
    justify-content: end;
    color: #F0D24B;
}


.main-dash{
    flex: 6;
    /*background-color: #2a2a30;*/
    background: linear-gradient(90deg, rgba(35,32,30,1) 50%, rgba(242,242,242,1) 50%);
}

/* Main content of dash */
.dash-flex-container{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: start;
    gap: 75px;
}

.box{
    width: 35vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
}

.left-box{
    color: #F2F2F2;
}

.right-box{
    color: #23201E;
}

.placement-icons{
    font-size: 500px;
}


/* DASHBORD BANNER STYLING */
.banner{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    box-sizing: border-box;
}

/* Date and message */
.date-box{
    display: flex;
    width: 25vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px #23201E;
    position: absolute;
    top: 35px;
    right: 35px;
}

.date{
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #23201E;
    color: #F2F2F2;
}

.date h1{
    font-weight: bold;
    font-size: 55px;
}

.date h2{
    font-weight: lighter;
}

.welcome-message{
    flex: 5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9D84A;
    color: #23201E;
    font-size: 23px;
    box-sizing: border-box;
    padding: 10px;
    font-weight: bold;
}

.welcome-message p{
    text-align: center;
}

.welcome-message-underline{
    text-decoration: underline;
    text-underline-offset: 7px;
    display: block;
}

.extra-date-box{
    flex: 1;
    height: 100%;
    background-color: #23201E;
}


.dashboard-copyright{
    color: #2a2a30;
}